<div class="container-fluid">
    <div class="page-header min-height-200 border-radius-xl mt-4">
        <span class="mask bg-gradient-primary opacity-6"></span>
    </div>
    <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
        <div class="row gx-4">
            <div class="col-auto">
                <div class="avatar avatar-xl position-relative">
                    <img src="../assets/img/main-logo.jpg" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
                </div>
            </div>
            <div class="col-auto my-auto">
                <div class="h-100">
                    <h5 class="mb-1">
                        Green Bull
                    </h5>
                    <p class="mb-0 font-weight-bold text-sm">
                        Wallet: <span id="header-wallet">Not Connected</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('navbarBlur').className = 'navbar navbar-main navbar-expand-lg bg-transparent shadow-none position-absolute px-4 w-100 z-index-2';
    const headerWalletElement = document.getElementById('header-wallet');

    function checkAccount() {
        if (getCookie('ethAccount')) {
            headerWalletElement.innerText = getCookie('ethAccount');
            return;
        }
        headerWalletElement.innerText = 'Not Connected';
    }
</script>