<div class="container-fluid py-4">
  <div class="col-12 mt-4" id="app">
    <div class="card mb-4">
      <div class="card-body p-3">
        <div class="row" style="padding-left: 30px">
          <div class="col-lg-6">
            <div class="d-flex flex-column h-100">
              <h1 style="padding-top: 12.5%" class="font-weight-bolder">A Decentralised Place Where Bulls Meet Bears</h1>
              <div class="col-md-6" style="padding-top: 40px">
                <a class="btn btn-dark mb-0 me-2" href="/predictions">
                  <i class="fab me-1" aria-hidden="true"></i> Open App
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-5 ms-auto text-center mt-5 mt-lg-0">
            <img class="w-100 position-relative z-index-2 pt-4" src="../assets/img/chart2.svg" alt="rocket">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mt-4" id="projects">

    <div class="card-header pb-0 px-3" style="text-align: center">
      <img src="../assets/img/loading-icon.gif" style="height: 25px">
      <h3 class="mb-0">Phase 1</h3>
      <p style="height: 25px; display: contents;">In Progress</p>
    </div>

    <div class="card mb-4">
      <div class="card-body p-3">
        <div class="row align-items-center">


          <div class="col-lg-12 mb-lg-0 mb-15">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-lg-4">
                  <div class="d-flex flex-column h-25">
                    <div class="position-relative d-flex align-items-center justify-content-center 25">
                      <img src="../assets/img/usdt.svg" style="width: 150px">
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <h5 class="font-weight-bolder">Predictions</h5>
                  <p class="mb-5">Green Bull is a decentralised application (Dapp) that that allows users to earn crypto by predicting if the future price of a token. Connect your wallet to get started within minutes. No registration required.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 mb-lg-0 mb-15">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                  <div class="d-flex flex-column h-25">
                    <div class="position-relative d-flex align-items-center justify-content-center 25">
                      <img class="position-relative z-index-2 pt-4" src="../assets/img/GB%20Token.png"style="width: 150px">
                    </div>
                    <br>
                  </div>
                </div>
                <div class="col-lg-4">
                  <h5 class="font-weight-bolder">GBULL Token</h5>
                  <p class="mb-5">The GBULL token is what feeds the bull. You can trade it for a profit, spend it or vote with it. 30% of the Bull's treasury is allocated each week to buy backs and burns.</p>
                </div>
              </div>
            </div>
          </div>

            <div class="card-header pb-0 px-3" style="text-align: center">
              <img src="../assets/img/chart.gif" style="height: 25px">
              <h3 class="mb-0">Phase 2</h3>
              <p style="height: 25px; display: contents;">Coming Soon</p>
            </div>


          <div class="col-lg-12 mb-lg-0 mb-15">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-lg-4">
                  <div class="d-flex flex-column h-25">
                    <div class="position-relative d-flex align-items-center justify-content-center 25">
                      <img src="../assets/img/lending.svg" style="width: 150px">
                    </div>
                    <br>
                  </div>
                </div>
                <div class="col-lg-4">
                  <h5 class="font-weight-bolder">Lending</h5>
                  <p class="mb-5">We are working on a new lending protocol that generates high APY by lending your tokens. You will be able to generate passive income from your crypto.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 mb-lg-0 mb-15">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                  <div class="d-flex flex-column h-25">
                    <div class="position-relative d-flex align-items-center justify-content-center 25">
                      <img src="../assets/img/chart-icon.png" style="width: 150px">
                    </div>
                    <br>
                  </div>
                </div>
                <div class="col-lg-4">
                  <h5 class="font-weight-bolder">Borrowing and Margin Trading</h5>
                  <p class="mb-5">Not only users will be able to borrow funds and earn GBULL tokens, but margin trading with up to 50% of your deposited funds will be made available.</p>
                </div>
              </div>
            </div>
          </div>


            <!--            <hr class="ct-docs-hr">-->
          <div class="card-header pb-0 px-3" style="text-align: center">
            <img src="../assets/img/sandtime.gif" style="height: 25px">
            <h3 class="mb-0">Phase 3</h3>
            <p style="height: 25px; display: contents;">Coming Soon</p>
          </div>

          <div class="col-lg-12 mb-lg-0 mb-15">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-lg-3">
                  <div class="d-flex flex-column h-25">
                    <div class="position-relative d-flex align-items-center justify-content-center 25">
                      <img src="../assets/img/pie-chart.svg" style="width: 150px">
                    </div>
                    <br>
                  </div>
                </div>
                <div class="col-lg-3">
                  <h5 class="font-weight-bolder">What Else?</h5>
                  <p class="mb-5">We plan on adding more token to our lending and borrowing protocol, as well as the predictions game. But in order to do that, we need a larger volume of users. Our next mission is to bring some of your favourite tokens so there's more than one option available.</p>
                </div>
              </div>
            </div>
          </div>

          </div>
        </div>
      </div>
    </div>
  <div class="col-12 mt-4" id="timeline">
    <div class="card h-100">
      <div class="card-header pb-0" style="text-align: center">
        <h6>Project Timeline</h6>
      </div>
      <div class="card-body" style="text-align: center">
        <div class="timeline-block">
          <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="ni ni-money-coins text-success text-gradient"></i>
                  </span>
            <div class="timeline-content">
              <h6 class="text-dark text-sm font-weight-bold mb-0">1. Create the GBULL token</h6>
              <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">22 DEC 7:20 PM</p>
            </div>
          </div>
          <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="ni ni-shop text-danger text-gradient"></i>
                  </span>
            <div class="timeline-content">
              <h6 class="text-dark text-sm font-weight-bold mb-0">2. GBULL token pre-sale</h6>
              <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">21 DEC 11 PM</p>
            </div>
          </div>
          <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="ni ni-chart-bar-32 text-info text-gradient"></i>
                  </span>
            <div class="timeline-content">
              <h6 class="text-dark text-sm font-weight-bold mb-0">3. Provide liquidity on QuickSwap</h6>
              <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">21 DEC 9:34 PM</p>
            </div>
          </div>
          <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <img style="width: 25px" src="../assets/img/lend-icon.svg">
                  </span>
            <div class="timeline-content">
              <h6 class="text-dark text-sm font-weight-bold mb-0">4. Deploy lending contracts</h6>
              <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">20 DEC 2:20 AM</p>
            </div>
          </div>
          <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <img style="width: 25px" src="../assets/img/borrow-icon.svg">
                  </span>
            <div class="timeline-content">
              <h6 class="text-dark text-sm font-weight-bold mb-0">5. Deploy borrowing and margin-trading contracts</h6>
              <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">18 DEC 4:54 AM</p>
            </div>
          </div>
          <div class="timeline-block">
                  <span class="timeline-step">
                    <img style="width: 25px; height: 25px" src="../assets/img/vote.png">
                  </span>
            <div class="timeline-content">
              <h6 class="text-dark text-sm font-weight-bold mb-0">6. Vote on the next proposal</h6>
              <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">17 DEC</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
<script>
  document.getElementById('dashboard-menu-link').className = 'nav-link  active';
</script>